{% extends 'layout.html' %}

{% block body %}

<h1 style="font-family: courier"><mark><b>Introduction</b></mark></h1>
<br>
<div class="a" style="font-family: georgia">Extracting shades of sentiment from the meme. Until now, Sentiment Analysis is done
specifically on text, but hasn’t been done on any kind of Memes. To provide a new outlook to the
pre-existing problem statement of sentiment analysis by giving it a new layer of image to get a
better understanding of verbal humor and its different types. The sentiment or inferences that are
extracted on a particular topic are going to be used to fine-tune the sentiment classifier at CDAC
and in their future production. It will be used in enhancing the “eVidur Tech” tool of CDAC.
</div>

<br>

<h1 style="font-family: courier"><mark><b>Motivation</b></mark></h1>
<br>
<div class="a" style="font-family: georgia">There are about 7 billion people on the face of the Earth, out of which about 3 billion people use
various social media platforms to express and consume different type of content which includes
huge amount of memes which might leave a lasting impression on that topic. Until now,
Sentiment Analysis on textual features has been aggressively explored and are being used in
production environments, but an hybrid approach of visual and textual features for sentiment of
memes has been sparsely untouched and might help in understanding public opinion better.
</div>
<br>
<h1 style="font-family: courier"><mark><b>Proposed Model</b></mark></h1>
<br>
<div class="a" style="font-family: georgia">Extracting shades of sentiment from the meme by correlating the text as well as the emotion
features from the image so as to get a quantitative measure in terms of a gradient score of the
various types of verbal humor for example (Sarcasm, Pun, Satire *proposed ) that can be derived
from the meme.
</div>

<br>
<div  class="a"style="text-align: center; font-family: georgia">
  <h1 style="text-align: center;"><mark><b>Project By</b></mark></h1>
Rohit Chandiramani<br>
Chinmay Chaudhari<br>
Pranay Jain<br>
Anmol Khandelwal<br>
<h4 style="text-align: center;display: inline; ">In Esteemed Guidance of: Prof.Devika Verma and C-DAC</h4>
</div>
<br>
{% endblock %}
