{% extends 'layout.html' %}

{% block body %}

<!-- <script src="https://static.anychart.com/js/8.0.1/anychart-core.min.js"></script>
<script src="https://static.anychart.com/js/8.0.1/anychart-pie.min.js"></script> -->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


  <style>

.color-class-positive{
  color:green;
  }

  .color-class-negative{
    color:red;
    }

    .color-class{
      color:blue;
    }

  </style>


<script type="text/javascript">


    function ExploreText(textemoname , faceemoname){
      var len = {{text_emotion_len}}
      // console.log(len);
      var textemoval = JSON.parse("{{ textemoval }}")
      // console.log(textemoval[0])

      // console.log(textemoname);

      console.log(faceemoname);
      console.log("{{face_emotions_probablity}}");

      var faceemoval = JSON.parse("{{ face_emotion_probablity }}")






      // var textemoname = JSON.parse("{{ textemoname}}")
      var arr = []
      var d = {}
      for(var i = 0; i < len; i++)
      {
        d["y"] = textemoval[i]
        d["label"] = textemoname[i]
        arr.push(d)
        d = {}
      }

      var chart = new CanvasJS.Chart("chartContainer", {
      	animationEnabled: true,
        height:250,
        // width:100,
      	title: {
      		text: "Text Emotion Gradient Score",
          fontSize : 15,
          fontColor : "blue"
      	},

      	data: [{
      		type: "pie",
      		startAngle: 240,
      		yValueFormatString: "##0.00\"%\"",
      		indexLabel: "{}",

          indexLabelPlacement: "inside",
          indexLabelFontColor: "#FFFFFF",
          indexLabelFontSize: 10,
          indexLabelMaxWidth: 53,

      		dataPoints:arr

      	}]
      });



      chart.render();

      d = {}
      arr = []

      for(var i = 0; i < 4; i++)
      {
        d["y"] = faceemoval[i] * 100
        d["label"] = faceemoname[i]
        arr.push(d)
        d = {}
      }


      var chart1 = new CanvasJS.Chart("chartContainer2", {
      	animationEnabled: true,
        height:250,
      	title: {
      		text: "Facial Emotion Gradient Score",
          fontSize : 15,
          fontColor : "blue"
        },

      	data: [{
          type: "pie",
          startAngle: 240,
          yValueFormatString: "##0.00\"%\"",
          indexLabel: "{}",

          indexLabelPlacement: "inside",
          indexLabelFontColor: "#FFFFFF",
          indexLabelFontSize: 10,
          indexLabelMaxWidth: 53,

      		dataPoints:arr

      	}]
      });
      chart1.render();

     }


     function Determine_Overall(textemoname , faceemoname){

       ExploreText(textemoname , faceemoname)

       overall = ("{{ strongest_overall_emotion }}")
       console.log(overall);
       var div = document.getElementById('OverallSentiment');
       if(overall == "Negative"){

         div.innerHTML = "<span class='color-class'>Overall Sentiment Derived : <span class='color-class-negative'>" + overall;
       }
       else {
         div.innerHTML = "<span class='color-class'>Overall Sentiment Derived : <span class='color-class-positive'>" +  overall;
       }

     }



</script>


    <!-- Page Content -->
    <div class="container">

<div class="row">
<div class="col-md-6">
    <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-info btn-file" style="height:30px;width:70px;">
                    Browse <input type="file" id="imgInp" name="photo">
                </span>
            </span>
            <div style = "width: 15%;display: inline-block;"></div>
              <input type="text" class="form-control" readonly>
            <div style = "width: 8%;display: inline-block;"></div>
            <input type="submit" class="btn btn-info" role="button" id="butup" style="float:left;height:30px;margin-left:-2%;">
        </div>
       <!-- <img id='img-upload'/>-->
    </div>
</div>
</div>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-3" style="text-align:center;">
          <img  src = "{{ url_for('static', filename = file ) }}" height="90%" width="100%" alt="Input Image" id='img-upload'/ >
        </div>


       <div class="col-md-4" >
         <table class="table table-bordered">

    <thead>
      <tr>
        <th colspan="2" style="text-align:center;font-size: 170%;" height="50">Summary</th>
      </tr>
    </thead>
  </table>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td height="50" style="font-size: 170%;width: 150px;">Personalities with their status</td>
        <td height="50" colspan="3" style="font-size: 170%;">{{ faces }}</td>

      </tr>
      <tr>
        <td height="50" style="font-size: 170%;">Extracted Text</td>
        <td height="50"  colspan="3" style="font-size: 170%;">{{ ext_text }}</td>
      </tr>

      <tr>
        <td height="50"style="font-size: 170%;">Facial Emotion</td>
        <td height="50"  colspan="2" style="font-size: 170%;">{{ emotion }}</td>

          <!-- <a href="#"><i onclick="myFunction(this)" class="fa fa-thumbs-up" style="float: left"></i></a>
          <a href="#"><i onclick="myFunction(this)" class="fa fa-thumbs-down" style="float: right"></i></a> -->
          <!-- <button type="button" class="btn btn-info" onclick="ExploreText()">Explore</button></div> -->

          <!-- <button  type="button"  class="btn btn-info" onclick="ExploreText({{textemoname}})">Visualize Gradient</button></div> -->


      </tr>
      <tr>
        <td height="50"style="font-size: 170%;">Textual Emotion </td>
        <td height="50"style="font-size: 170%;">{{ stronger_emotion }}</td>
              </tr>
      </tbody>
      </table>


      <table class="table table-bordered">
        <thead>
          <tr>
            <th  style="text-align:center;font-size: 170%;" height="50">
            <button  type="button" class="btn btn-info" onclick="Determine_Overall({{textemoname}} , {{face_emotions_order}})" >Generate Overall Sentiment</button>
            <!-- <td id = "overall" style="text-align:center;font-size:170%;"></td> -->
            </th>
          </tr>
       </thead>
      </table>

  </div>

<div class="col-md-5">

  <div class="container-fluid">
    <!-- <div class="col"> -->
        <div class="row">
          <div class="col-md-6">
            <div id="chartContainer"></div>
          </div>

          <div class="col-md-6">
            <div id="chartContainer2"></div>
          </div>
        </div>
  <br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="row">

    <div class="col-md-12">
    <h2 id = "OverallSentiment" style="text-align:center;"></h2>

  </div>
    <!-- </div> -->
  </div>
  </div>
</div>



</div>
      <!-- /.row -->

{% endblock %}
